.selectDays {
  position: relative;
}

.selectDays div {
  display: inline-block;
}

.selectDays .daysGroup {
  margin-left: 30px;
}

.selectDays .selectValue {
  border: 1px solid #ccc;
  width: 100px;
  border-radius: 5px;
  padding: 2px 2px 2px 8px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.selectDays .arrow {
  position: absolute;
  top: 9px;
  right: 8px;
  border: 8px solid #d9d9d9;
  border-radius: 3px;
  border-color: #d9d9d9 transparent transparent transparent;
}

.selectDays .dropdown {
  list-style: none;
  outline: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 28px;
  border: 1px solid #ccc;
  z-index: 10;
  border-radius: 5px;
  background-color: #fff;
  width: 125px;
}

.selectDays .dropdown li {
  box-sizing: border-box;
  padding: 3px 5px 3px 9px;
}

.selectDays .dropdown li:hover {
  background-color: #eee;
}

.selectDays .daysDrop {
  left: 133px;
}

.selectDays .typesDrop {
  left: 373px;
}

.selectDays .typesGroup {
  margin-left: 30px;
}

.container_highcharts {
  margin-top: 30px;
}
